a:visited {
    color: blue;
}

a.new {
    color: red;
}

.CodeMirror {
    font-family: monospace !important;
}

input[type=text] {
    zoom: 200%;
}

img {
    max-width: 400px;
}

#main {
    width: 900px;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5 {
    margin-top: inherit;
}

h1+p {
    margin-top: 0;
}

h2 {
    margin-top: 1rem;
}

table td {
    padding: 0.3rem;
}