a:visited {
    color: blue;
}

a.new {
    color: red;
}

.CodeMirror {
    font-family: monospace !important;
}

input[type=text] {
    zoom: 200%;
}

#main {
    width: 600px;
    margin: 0 auto;
}