/* whole site */

#main {
  width: 960px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* content  */

a.new {
  color: red;
}

.markdown-body h1:first-of-type {
  margin-top: 1em;
}

.markdown-body h2 {
  border-bottom: none;
}

.markdown-body summary {
  margin-left: -1em;
  margin-top: 0.5em;
}

img {
  max-width: 400px;
}

/* code  */

.CodeMirror {
  font-family: monospace !important;
}

.CodeMirror .CodeMirror-code .cm-header-1, .CodeMirror .CodeMirror-code .cm-header-2, .CodeMirror .CodeMirror-code .cm-header-3, .CodeMirror .CodeMirror-code .cm-header-4, .CodeMirror .CodeMirror-code .cm-header-5 {
  font-size: inherit;
}

input[type="text"] {
  zoom: 200%;
}

pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

code a, code a:visited {
  color: black;
}

:not(pre)>code {
  line-height: 1.5;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

/* fuzzy finder */

#jump-page {
  margin: 0 auto;
  width: 300px;
}

#jump-page .active {
  font-weight: bold;
}

/* nested wiki pages */

#index-page .inner {
  margin-left: 2rem;
}